<!--Main Navigation-->
<header>
    <!-- Jumbotron -->
    <div class="p-3 text-center bg-white border-bottom">
      <div class="container">
        <div class="row gy-3">
          <!-- Left elements -->
          <div class="col-lg-2 col-sm-4 col-4">
            <a href="" target="_blank" class="float-start">
              <img src="../../assets/images/image2.jpg" height="55" style="margin-top: -10px;"/>
            </a>
          </div>
          <!-- Left elements -->

          <!-- Center elements -->
          <div class="order-lg-last col-lg-5 col-sm-8 col-8">
            <div class="d-flex float-end" style="margin-right: -80px;">
              <a routerLink="produit" class="me-1 py-1 px-3 nav-link d-flex align-items-center"><p class="d-none d-md-block mb-0">HOME</p> </a>
              <a routerLink="about" class="me-1 py-1 px-3 nav-link d-flex align-items-center"><p class="d-none d-md-block mb-0">ABOUT</p> </a>
              <a routerLink="contact" class="me-1 py-1 px-3 nav-link d-flex align-items-center"><p class="d-none d-md-block mb-0">CONTACT</p> </a>
              <a routerLink="admin/login" class="me-1 py-1 px-3 nav-link d-flex align-items-center"><p class="d-none d-md-block mb-0">CONNEXION</p> </a>
              <a routerLink="" class="border rounded py-1 px-3 nav-link d-flex align-items-center" target="_blank"> <i class="fas fa-shopping-cart m-1 me-md-2"></i><p class="d-none d-md-block mb-0">My cart</p> </a>
            </div>
          </div>
          <!-- Center elements -->

          <!-- Right elements -->
          <div class="col-lg-4 col-md-12 col-12">
            <div class="input-group float-center">
              <div class="form-outline">
                <input type="search" id="form1" class="form-control border rounded"/>
                <label class="form-label" for="form1">Search</label>
              </div>
              <button type="button" class="btn btn-primary shadow-0">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </div>
          <!-- Right elements -->
        </div>
      </div>
    </div>
    <!-- Jumbotron -->

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
      <!-- Container wrapper -->
      <div class="container justify-content-center justify-content-md-between">
        <!-- Toggle button -->
        <button
                class="navbar-toggler border py-2 text-dark"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#navbarLeftAlignExample"
                aria-controls="navbarLeftAlignExample"
                aria-expanded="false"
                aria-label="Toggle navigation"
                >
          <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarLeftAlignExample">
          <!-- Left links -->
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item" style="margin-left: 250px;" *ngFor="let item of allCategory">
              <a class="nav-link text-dark" aria-current="page" (click)="selectCategory(item)"> {{ item.name}}</a>
            </li>
          </ul>
          <!-- Left links -->
        </div>
      </div>
      <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
    <!-- Jumbotron -->
    <!-- Jumbotron -->
  </header>


