<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="../../assets/js/new.js"></script>

<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html>
    <body>
        <div class="container" *ngIf="product" >
        	<div class="row">
               <div class="col-xs-4 item-photo">
                    <img style="max-width:100%;" src="{{product.imageUrl}}" />
                </div>
                <div class="col-xs-5" style="border:0px solid gray">
                    <!-- Details du produit -->
                    <h3>{{product.name}}</h3>
                    <h5 style="color:#337ab7">Posted By <a href="#">Kamilou</a> · <small style="color:#337ab7">(5054 ventes)</small></h5>

                    <!-- Montant -->
                    <h6 class="title-price"><small>OFFER PRICE</small></h6>
                    <h3 style="margin-top:0px;">{{product.price}} FCFA</h3>


                    <div class="section" style="padding-bottom:20px;">
                        <h6 class="title-attr"><small>Quantity</small></h6>
                        <div>
                            <div class="btn-minus"><span class="glyphicon glyphicon-minus"></span></div>
                            <input value="1" />
                            <div class="btn-plus"><span class="glyphicon glyphicon-plus"></span></div>
                        </div>
                    </div>

                    <!-- buy buttons -->
                    <div class="section" style="padding-bottom:20px;">
                        <button class="btn btn-success"><span style="margin-right:20px" class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> add to cart</button>
                        <h6><a href="#"><span class="glyphicon glyphicon-heart-empty" style="cursor:pointer;"></span> Add to wish list</a></h6>
                    </div>
                </div>

                <div class="col-xs-9">
                    <ul class="menu-items">
                        <li class="active">Product Details</li>
                        <li>Warranty</li>
                        <li>Seller</li>
                        <li>Shipment</li>
                    </ul>
                    <div style="width:100%;border-top:1px solid silver">
                        <p style="padding:15px;">
                          {{product.description}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
