<!-- <div
  class="authentication-card-container"
  fxLayout="column"
  fxLayoutAlign="center"
>
  <mat-card class="authentication-card">
    <mat-card-header> <mat-card-title>Login</mat-card-title></mat-card-header>
    <mat-card-content>
      <form
        [formGroup]="loginForm"
        fxLayout="column"
        fxLayoutAlign="center stretch"
      >
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input matInput formControlName="username" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" />
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="login()">
        Login
      </button>

    </mat-card-actions>
  </mat-card>
</div>
 -->

 <section class="vh-100" style="background-color: rgb(107, 104, 104);">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <h2 class="mb-5"><b>Sign in</b></h2>
              <form [formGroup]="loginForm">

                <div class="form-outline mb-4">
                  <input type="text" formControlName="username" class="form-control form-control-lg" />
                  <label class="form-label">Username</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="password" formControlName="password" class="form-control form-control-lg" />
                  <label class="form-label">Password</label>
                </div>

                <!-- Checkbox -->
                <div class="form-check d-flex justify-content-start mb-4">
                  <input class="form-check-input" type="checkbox" value=""/>
                  <label class="form-check-label"> Remember password </label>
                </div>

                <button  (click)="login()" class="btn btn-primary btn-lg btn-block" type="submit">Login</button>

                <div class="form-check d-flex justify-content-start mb-4"
                *ngIf="showErrorMessage" style="font-size: large; color: red; margin-top: 20px;">
                  Invalid username or password Please try again
                </div>

              </form>

            <hr class="my-4">

            <button class="btn btn-lg btn-block btn-primary" style="background-color: #dd4b39;"
              type="submit"><i class="fab fa-google me-2"></i> Sign in with google</button>
            <button class="btn btn-lg btn-block btn-primary mb-2" style="background-color: #3b5998;"
              type="submit"><i class="fab fa-facebook-f me-2"></i>Sign in with facebook</button>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
